.posts__container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-right: 40px;
    @include tablet{
        width: auto;
        margin: 0;
    }
    .post__container{
        width: 693px;
        height: 87px;
        border: 1px solid rgba(0,0,0,.1); 
        margin: 4px 0;
        background: white;
        display: flex;
        cursor: pointer;
        &:hover{
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.2),0 1px 18px 0 rgba(0,0,0,.12),0 6px 10px 0 rgba(0,0,0,.14);
        }
        .property-name-pic{
            width: 349px;
            display: flex;
            align-items: center;
            border-left: 1px solid rgba(0,0,0,.1); 
            img{
                margin: 10px;
                width: 110px;
                height: 66px;
            }
            .property-name__title{
                width: 215px;
                display: flex;
                flex-direction: column;
            }
        }
        .property-info{
            width: 180px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-left: 1px solid rgba(0,0,0,.1); 
            cursor: auto;
            .property-info__div{
                display: flex;
                flex-direction: column;
                align-items: center;
                b{
                    font-weight: 400;
                }
                span{
                    color: rgba(0,0,0,.3);
                    font-size: 0.875rem;

                }
            }
        }    
        .price{
            width: 142px;
            padding: 0 10px;
            .price__div{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                span{
                    margin: 3px 0;
                    font-size: 0.875rem;
                    color: #ccc;
                }
            }  
        }
    }
    .loading-spinner__container{
        width: 100%;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}