.new-post-page__container{
    .new-post-category{
        display: flex;
        flex-wrap: wrap;
        // margin-bottom: 20px;
    }
    .new-post-category__doubles{
        display: flex;
        width: 50%;
        @include tablet{
            width: 100%;
        }
    }
    .category-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        box-sizing: border-box;
        height: 152px;
        width: 162px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 20px;
        @include tablet{
            width: 40%;
        }
        .orange-color{
            color: $orange;
        }
        svg{
            margin-bottom: 10px;
        }
        span{
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
        }
    }
}