.new-post-page__container{
    .propery-info{
        select{
            width: 163px;
        }
    }
    .radio-btn{
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        position: absolute;
        cursor: pointer;
    }
    .relative-div{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover{
            color: $orange;
        }
    }
    .active-radio-btn{
        background: #eee;
        &:hover{
            background: #ccc;
            color: #606060;
        }
    }
    .radio-btns__container{
        display: flex;
        width: 160px;
        height: 40px;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        span{
            padding: 0 1rem ;
            color: inherit;
        }
        .border-left{
            display: flex;
            align-items: center;
            height: 100%;
            border-left: 1px solid #ccc;
        }
        .border-right{
            display: flex;
            align-items: center;
            height: 100%;
            border-right: 1px solid #ccc;
        }
    }
    h4{
        font-size: 1.2em;
        font-weight: 500;
        margin: 1.2em 0;
        @include tablet {
            font-size: 1rem;
        }
    }
    .properties__container{
        display: flex;
        flex-wrap: wrap;
        width: 630px;
        @include tablet {
            width: 98%;
        }
        .properties-items{
            height: 34px;
            width: 133px;
            margin-bottom: 1rem;
            margin-left: 1rem;
            border: 1px solid #ccc;
            border-radius: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-right: 5px;
            @include mobile {
                width: 100px;
            }
        }
        span{
            padding: 5px;
            @include mobile {
                font-size: 0.7rem;
            }
        }
        .hover-orange{
            color: $orange;
            path{
                fill:  $orange;
            }
        }
        .picked{
            background: #eee;
        }
        .hover-picked{
            background: #ccc;
        }
    }
    .more-info__container{
        position: relative;
        width: 100%;
        max-width: 390px;
    }
    .more-info__header{
        width: 390px;
        display: flex;
        justify-content: space-between;
        @include mobile{
            width: 100%;
        }
    }
    textarea{
        resize: none;
        width: 306px;
        height: 118px;
        padding: 16px 10px 20px 70px;
        overflow: auto;
        margin-bottom: 2rem;
        @include mobile{
            width: calc(100% - 80px);
        }
    }

}