//colors
$orange: #ff7100;
$gray: #eee;
$light-gray: #f9f9f9;
$text-gray: #999;
$green: #0fca80;

//padding
$padSides: 0 20px;

//media mixins
$mobile-width: 630px;
$tablet-width: 960px;
$desktop-width: 1285px;

@mixin mobile {
    @media (max-width: $mobile-width) {
      @content;
    }
  }

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
} 

//animations

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes slide {
  0% { right: -400px; }
  100% { right: 0;}
}

@keyframes slideOut {
  0% { right: 0;}
  100% { right: -400px; }
}

@keyframes slideDown {
  0% { top: -20rem;}
  100% { top: calc(50vh - 215px); }
}

@keyframes errorMessageSlide {
  0% { margin-right: 50%; }
  100% { margin-right: 0; }
}

